<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ article.title }}</title>
<link rel="stylesheet" href="../stylesheet.css" type="text/css" />
<link rel="stylesheet" href="../pagetemplate.xpgt" type="application/vnd.adobe-page-template+xml" />
</head>
<body>
	<h1 class="headline">{{ article.headline|safe }}</h1>
	{% if article.subhead %}<h2 class="subhead">{{ article.subhead|safe }}</h2>{% endif %}
	<p class="byline">{{ article.byline }}</p>
	{{ article.story|safe }}
</body>
</html>