/* Style Sheet */
/* This defines styles and classes used in the book */
body { margin-left: 5%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%; text-align: justify; }
pre { font-size: x-small; }
h1 { text-align: center; }
h2 { text-align: center; }
h3 { text-align: center; }
h4 { text-align: center; }
h5 { text-align: center; }
h6 { text-align: center; }
.CI {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }
.center   {text-align: center;}
.smcap    {font-variant: small-caps;}
.u        {text-decoration: underline;}
.bold     {font-weight: bold;}

h1.headline {
    text-align: left;
	font-size: 2.25em;
}

h2.subhead {
    
}

h2.header {
	text-align: left;
	text-transform: uppercase;
	border-top: thin solid #000;
	border-bottom: thin solid #000;
}

li {
	margin-bottom: 0.5em;
}
