<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="../stylesheet.css" />
<link rel="stylesheet" type="application/vnd.adobe-page-template+xml" href="../pagetemplate.xpgt"/>
</head>
<body>
<div>
	<img src="../images/logo.svg" alt="logo" width="250px" />
	<p><b>Edition:</b> {{ metadata.date }}</p>
	<p><b>Published by:</b> {{ metadata.publisher }}</p>
	<p><a href="contents.html">Contents</a></p>
</div>
</body>
</html>